= link_to "Sign in", new_user_session_path unless current_user
- if current_user 
  = link_to "Sign out", signout_path 
  |
  = link_to "Home", business_path
  |
  = link_to "Your appointments"
  |
  = link_to "Your businesss", edit_business_path
  |
  = link_to "Your Calendar", business_calendar_path

