= semantic_form_for [@bookable.business, @bookable] do |f|
  = f.semantic_errors :state
  = f.inputs do
    = f.input :name
    = f.input :description
    = f.input :business_id, :as => :hidden
  = f.buttons
